[submodule "lisp/dependencies/f"]
	path = lisp/dependencies/f
	url = https://github.com/rejeep/f.el.git
[submodule "lisp/dependencies/hydra"]
	path = lisp/dependencies/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "lisp/dependencies/s"]
	path = lisp/dependencies/s
	url = https://github.com/magnars/s.el.git
[submodule "lisp/dependencies/yasnippet"]
	path = lisp/dependencies/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "lisp/external/company-mode"]
	path = lisp/external/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "lisp/external/emacs-which-key"]
	path = lisp/external/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "lisp/external/markdown-mode"]
	path = lisp/external/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "lisp/external/slime"]
	path = lisp/external/slime
	url = https://github.com/slime/slime.git
[submodule "lisp/dependencies/dash.el"]
	path = lisp/dependencies/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "lisp/external/flycheck"]
	path = lisp/external/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "lisp/dependencies/dash"]
	path = lisp/dependencies/dash
	url = https://github.com/magnars/dash.el.git
[submodule "lisp/dependencies/annalist"]
	path = lisp/dependencies/annalist
	url = https://github.com/noctuid/annalist.el.git
[submodule "lisp/meta/use-package"]
	path = lisp/meta/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "lisp/external/projectile"]
	path = lisp/external/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "lisp/external/web-mode"]
	path = lisp/external/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "lisp/external/projectile-rails"]
	path = lisp/external/projectile-rails
	url = https://github.com/asok/projectile-rails.git
[submodule "lisp/external/helpful"]
	path = lisp/external/helpful
	url = https://github.com/Wilfred/helpful.git
[submodule "lisp/dependencies/elisp-refs"]
	path = lisp/dependencies/elisp-refs
	url = https://github.com/Wilfred/elisp-refs.git
[submodule "lisp/external/no-littering"]
	path = lisp/external/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "lisp/dependencies/inf-ruby"]
	path = lisp/dependencies/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
[submodule "lisp/external/slime-company"]
	path = lisp/external/slime-company
	url = https://github.com/anwyn/slime-company.git
[submodule "lisp/external/elfeed"]
	path = lisp/external/elfeed
	url = https://github.com/skeeto/elfeed.git
[submodule "lisp/external/hl-todo"]
	path = lisp/external/hl-todo
	url = https://github.com/tarsius/hl-todo.git
[submodule "lisp/external/plus-minus"]
	path = lisp/external/plus-minus
	url = https://github.com/peterwu/plus-minus.git
[submodule "lisp/external/consult"]
	path = lisp/external/consult
	url = https://github.com/minad/consult.git
[submodule "lisp/external/orderless"]
	path = lisp/external/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "lisp/external/marginalia"]
	path = lisp/external/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "lisp/external/avy"]
	path = lisp/external/avy
	url = https://github.com/abo-abo/avy.git
[submodule "themes/modus-themes"]
	path = themes/modus-themes
	url = https://gitlab.com/protesilaos/modus-themes.git
[submodule "lisp/dependencies/with-editor"]
	path = lisp/dependencies/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "lisp/dependencies/transient"]
	path = lisp/dependencies/transient
	url = https://github.com/magit/transient.git
[submodule "lisp/external/magit"]
	path = lisp/external/magit
	url = https://github.com/magit/magit.git
[submodule "lisp/external/ace-window"]
	path = lisp/external/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "themes/color-theme-sanityinc-tomorrow"]
	path = themes/color-theme-sanityinc-tomorrow
	url = https://github.com/purcell/color-theme-sanityinc-tomorrow.git
[submodule "themes/ample-theme"]
	path = themes/ample-theme
	url = https://github.com/jordonbiondo/ample-theme.git
[submodule "lisp/external/emacs-async"]
	path = lisp/external/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "lisp/external/expand-region"]
	path = lisp/external/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "lisp/external/fold-this"]
	path = lisp/external/fold-this
	url = https://github.com/magnars/fold-this.el.git
[submodule "lisp/external/visual-regexp"]
	path = lisp/external/visual-regexp
	url = https://github.com/benma/visual-regexp.el.git
[submodule "lisp/external/vertico"]
	path = lisp/external/vertico
	url = https://github.com/minad/vertico.git
