[submodule "lisp/dependencies/f"]
	path = lisp/dependencies/f
	url = https://github.com/rejeep/f.el.git
[submodule "lisp/dependencies/hydra"]
	path = lisp/dependencies/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "lisp/dependencies/pyvenv"]
	path = lisp/dependencies/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv.git
[submodule "lisp/dependencies/s"]
	path = lisp/dependencies/s
	url = https://github.com/magnars/s.el.git
[submodule "lisp/dependencies/yasnippet"]
	path = lisp/dependencies/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "lisp/external/company-mode"]
	path = lisp/external/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "lisp/external/elpy"]
	path = lisp/external/elpy
	url = https://github.com/jorgenschaefer/elpy.git
[submodule "lisp/external/emacs-which-key"]
	path = lisp/external/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "lisp/external/evil"]
	path = lisp/external/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "lisp/external/markdown-mode"]
	path = lisp/external/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "lisp/external/slime"]
	path = lisp/external/slime
	url = https://github.com/slime/slime.git
[submodule "lisp/dependencies/dash.el"]
	path = lisp/dependencies/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "lisp/external/swiper"]
	path = lisp/external/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "lisp/external/flycheck"]
	path = lisp/external/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "lisp/dependencies/dash"]
	path = lisp/dependencies/dash
	url = https://github.com/magnars/dash.el.git
